deegree-core/deegree-core-gdal/src/main/resources/META-INF/schemas/commons/gdal/3.4.0/gdal.xsd

<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.deegree.org/gdal" elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
  xmlns:gdal="http://www.deegree.org/gdal">

  <annotation>
    <appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.deegree.commons.gdal.jaxb" />
      </jaxb:schemaBindings>
    </appinfo>
  </annotation>

  <element name="GDALOptions">
    <complexType>
      <sequence>
        <element name="Option" maxOccurs="unbounded">
        <complexType>
          <simpleContent>
          </simpleContent>
        </complexType>
        </element>
      </sequence>
      <attribute name="configVersion" type="gdal:ConfigVersionType" use="required" />
    </complexType>
  </element>

  <simpleType name="ConfigVersionType">
    <restriction base="string">
      <enumeration value="3.4.0" />
    </restriction>
  </simpleType>

</schema>
